In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from data_consistency_check import check_data_consistency
from feature_engineering import engineer_features
from utils.load_data import load_data
from data_cleaning import clean_data
from utils.calculate_row_entropy import calculate_row_entropy

In [2]:
train_df_raw = pd.read_csv("data/train.csv")
test_df_raw = pd.read_csv("data/test.csv")
train_df = load_data("data/train.csv")
train_df = engineer_features(train_df)
test_df = load_data("data/test.csv")
test_df = engineer_features(test_df)

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)
pd.set_option('display.max_colwidth', None)

In [4]:
na_info = train_df.isna().sum()[train_df.isna().sum() > 0]
print("train df NA counts")
print(na_info)

train df NA counts
LotFrontage    259
Electrical       1
dtype: int64

In [5]:
na_info = test_df.isna().sum()[test_df.isna().sum() > 0]
print("test df NA counts")
print(na_info)

test df NA counts
MSZoning         4
LotFrontage    227
Utilities        2
Exterior1st      1
Exterior2nd      1
KitchenQual      1
Functional       2
SaleType         1
dtype: int64

In [12]:
print(test_df[test_df["SaleType"].isna()].transpose())

                         1029
Id                       2490
MSSubClass                 20
MSZoning                   RL
LotFrontage              85.0
LotArea                 13770
Street                   Pave
Alley                      NA
LotShape                  Reg
LandContour               Lvl
Utilities              AllPub
LotConfig              Corner
LandSlope                 Gtl
Neighborhood           Sawyer
Condition1              Feedr
Condition2               Norm
BldgType                 1Fam
HouseStyle             1Story
OverallQual                 5
OverallCond                 6
YearBuilt                1958
YearRemodAdd             1998
RoofStyle               Gable
RoofMatl              CompShg
Exterior1st           Plywood
Exterior2nd           Plywood
MasVnrType            BrkFace
MasVnrArea              340.0
ExterQual                  TA
ExterCond                  TA
Foundation             CBlock
BsmtQual                   TA
BsmtCond                   TA
BsmtExposure               Mn
BsmtFinType1              Rec
BsmtFinSF1              190.0
BsmtFinType2              BLQ
BsmtFinSF2              873.0
BsmtUnfSF                95.0
TotalBsmtSF            1158.0
Heating                  GasA
HeatingQC                  TA
CentralAir                  Y
Electrical              SBrkr
1stFlrSF                 1176
2ndFlrSF                    0
LowQualFinSF                0
GrLivArea                1176
BsmtFullBath              1.0
BsmtHalfBath              0.0
FullBath                    1
HalfBath                    0
BedroomAbvGr                3
KitchenAbvGr                1
KitchenQual                TA
TotRmsAbvGrd                6
Functional                Typ
Fireplaces                  2
FireplaceQu                Gd
GarageType             Attchd
GarageYrBlt              1958
GarageFinish              Unf
GarageCars                1.0
GarageArea              303.0
GarageQual                 TA
GarageCond                 TA
PavedDrive                  Y
WoodDeckSF                  0
OpenPorchSF                 0
EnclosedPorch               0
3SsnPorch                   0
ScreenPorch                 0
PoolArea                    0
PoolQC                     NA
Fence                      NA
MiscFeature                NA
MiscVal                     0
MoSold                     10
YrSold                   2007
SaleType                  NaN
SaleCondition          Normal
lot_frontage_missing    False
has_garage                  1
has_basement                1

In [8]:
pd.crosstab(train_df["SaleCondition"], train_df["SaleType"])

SaleType       COD  CWD  Con  ConLD  ConLI  ConLw  New  Oth    WD
SaleCondition
Abnorml         24    1    0      2      1      0    0    3    70
AdjLand          0    0    0      0      0      0    0    0     4
Alloca           0    0    0      0      0      0    0    0    12
Family           0    1    0      0      0      0    0    0    19
Normal          19    2    2      6      4      5    0    0  1160
Partial          0    0    0      1      0      0  122    0     2

In [11]:
pd.crosstab(train_df["YrSold"], train_df["SaleType"])

SaleType  COD  CWD  Con  ConLD  ConLI  ConLw  New  Oth   WD
YrSold
2006        5    0    0      2      1      1   43    1  261
2007        5    3    0      0      0      0   40    2  279
2008       14    1    1      5      0      1   14    0  268
2009       14    0    0      2      3      3   18    0  298
2010        5    0    1      0      1      0    7    0  161